<div class="block-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Войти</mat-card-title>
    </mat-card-header>

    <form class="example-form" name="form" [formGroup]="form" (ngSubmit)="login()" novalidate>
      <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

      <mat-card-content>

        <!-- Username -->
        <mat-form-field class="example-full-width">
          <mat-label>Введите логин</mat-label>
          <input matInput placeholder="Логин" formControlName="username" required>
          <mat-error *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
            Логин является обязательным полем
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="example-full-width">
          <mat-label>Введите пароль</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Пароль является обязательным полем
          </mat-error>
        </mat-form-field>

      </mat-card-content>

      <button mat-raised-button color="primary" class="btn-block btn-custom" type="submit">Войти</button>
      <button mat-raised-button color="accent" class="btn-block btn-custom" [routerLink]="['/register']">Зарегистрироваться</button>
      <button mat-button class="btn-block btn-custom btn-forgot" [routerLink]="['/forgot']">Забыли пароль?</button>
    </form>
  </mat-card>
</div>
