<div class="profile-block">
  <h1>Добро пожаловать, <strong>{{currentUser.firstName}} {{currentUser.lastName}}</strong></h1>
  <p>
    Получайте выгоду с нашей системой!
  </p>
  <p> <span class="title">Электронная почта:</span> {{currentUser.email}}</p>
  <p> <span class="title">Логин:</span> {{currentUser.username}}</p>
  <p> <span class="title">Роль:</span> {{role}}</p>
  <div *ngIf="role == 'WITCHER'">
    <p>
      <span class="title">Принятые задания:</span>
    </p>
    <app-tasks></app-tasks>
  </div>
  <div *ngIf="role == 'USER'">
    <p>
      <span class="title">Ваши задания:</span>
    </p>
    <app-tasks></app-tasks>
  </div>
</div>
