<div class="block-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Создание заказа</mat-card-title>
    </mat-card-header>

    <form class="example-form" name="form" [formGroup]="form" (ngSubmit)="add()" novalidate>
      <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

      <mat-card-content>

        <!-- Title -->
        <mat-form-field class="example-full-width">
          <mat-label>Название заказа</mat-label>
          <input matInput placeholder="Название заказа" formControlName="title" [(ngModel)]="task.title" required>
          <mat-error *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
            Название заказа является обязательным полем
          </mat-error>
        </mat-form-field>

        <!-- Location -->
        <app-select-dropdown [objectList]="locations" [title]="titleLocation" (changed)="onChangedLocation($event)"></app-select-dropdown>

        <!-- Location Comment -->
        <mat-form-field class="example-full-width">
          <mat-label>Комментарии к заказу</mat-label>
          <input matInput placeholder="Комментарии к заказу" [(ngModel)]="task.locationComment">
        </mat-form-field>

        <!-- Currency -->
        <app-select-dropdown [objectList]="currency" [title]="titleCurrency"  (changed)="onChangedCurrency($event)"></app-select-dropdown>

        <!-- Reward -->
        <mat-form-field class="example-full-width">
          <mat-label>Введите сумму награды</mat-label>
          <input matInput type="text" min="0" placeholder="Сумма награды" formControlName="checkedRewardValue"
                 [(ngModel)]="task.checkedRewardValue" required>
          <mat-error *ngIf="form.controls['checkedRewardValue'].hasError('min')">
            Сумма награды должна быть только положительным значением
          </mat-error>
          <mat-error *ngIf="form.controls['checkedRewardValue'].hasError('pattern')">
            Сумма награды должна быть числовым значением
          </mat-error>
          <mat-error *ngIf="form.controls['checkedRewardValue'].hasError('required')">
            Сумма награды за заказ является обязательным полем
          </mat-error>
        </mat-form-field>

        <!-- Beast -->
        <app-select-dropdown [objectList]="beasts" [title]="titleBeast" (changed)="onChangedBeast($event)"></app-select-dropdown>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Создать заказ</button>
      <button mat-stroked-button class="btn-block" (click)="back()">Вернуться</button>
    </form>
  </mat-card>
</div>
