<div class="block-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Регистрация</mat-card-title>
    </mat-card-header>

    <form class="example-form" name="form" [formGroup]="form" (ngSubmit)="register()" novalidate>
      <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>

      <mat-card-content>

        <!-- First Name -->
        <mat-form-field class="example-full-width">
          <mat-label>Введите имя</mat-label>
          <input matInput placeholder="Имя" formControlName="firstName" required>
          <mat-error *ngIf="form.controls['firstName'].invalid && form.controls['firstName'].touched">
            Имя является обязательным полем
          </mat-error>
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field class="example-full-width">
          <mat-label>Введите фамилию</mat-label>
          <input matInput placeholder="Фамилия" formControlName="lastName" required>
          <mat-error *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].touched">
            Фамилия является обязательным полем
          </mat-error>
        </mat-form-field>

        <!-- Username -->
        <mat-form-field class="example-full-width">
          <mat-label>Введите логин</mat-label>
          <input matInput placeholder="Логин" formControlName="username" required>
          <mat-error *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
            Логин является обязательным полем
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="example-full-width">
          <mat-label>Введите электронную почту</mat-label>
          <input matInput placeholder="example@example.com" formControlName="email" required>
          <mat-error *ngIf="form.controls['email'].hasError('email')">
            Электронная почта неверного формата
          </mat-error>
          <mat-error *ngIf="form.controls['email'].hasError('required')">
            Электронная почта является обязательным полем
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="example-full-width">
          <mat-label>Введите пароль</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type='button'>
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.controls['password'].hasError('minLength')">
            Пароль должен содержать хотя бы 6 символов
          </mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Пароль является обязательным полем
          </mat-error>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field class="example-full-width">
          <mat-label>Повторите пароль</mat-label>
          <input matInput formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type='button'>
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.controls['confirmPassword'].hasError('passwordError')">
            Пароли не совпадают
          </mat-error>
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Необходимо повторить пароль
          </mat-error>
        </mat-form-field>

        <!-- Role -->
        <app-select-dropdown [objectList]="roles" [title]="title" (changed)="onChangedRole($event)"></app-select-dropdown>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" type="submit">Создать аккаунт</button>
      <button mat-stroked-button class="btn-block" [routerLink]="['/']">Вернуться</button>

    </form>
  </mat-card>
</div>
